#stats-icon {
  font-size: 3em;
}

.graph-style {
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 20px;
}

.blurb-style {
  font-size: 13px;
  color: var(--ion-color-tertiary-contrast) !important;
}

ion-item {
  --ion-item-background: transparent;
}

.title-label {
  margin: 3px;
  font-size: 15px;
  color: var(--ion-color-tertiary) !important;
}
