<ion-header>
  <ion-toolbar>
    <ion-title>
      momenTUM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item lines="full">
      <ion-icon color="primary" slot="start" style="font-size: 64px" name="person-circle-outline"></ion-icon>
      <ion-label color="primary" class="ion-text-wrap">
        <p>User ID</p>
        <h3>{{this.uuid}}</h3>
      </ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group [hidden]="!isEnrolled">
    <ion-label color="dark" position="stacked" class="title-label">
      Notifications
    </ion-label>
    <ion-item>
      <ion-label>Enable Notifications</ion-label>
      <ion-toggle
        color="primary"
        (ionChange)="toggleNotifications()"
        [(ngModel)]="notificationsEnabled"
      ></ion-toggle>
    </ion-item>
    <div *ngIf="this.study?.properties.instructions?.length > 0">
      <ion-label color="dark" position="stacked" class="title-label">
        About this study
      </ion-label>
      <ion-item>
        <ion-label
          style="white-space: pre-wrap !important"
          [innerHTML]="this.study?.properties.instructions"
          class="ion-text-wrap"
        >
        </ion-label>
      </ion-item>
    </div>
    <div
      *ngIf="this.study?.properties.support_email?.length > 0 || this.study?.properties.support_url?.length > 0"
    >
      <ion-label color="dark" position="stacked" class="title-label">
        Support
      </ion-label>
      <ion-item
        *ngIf="this.study?.properties.support_email?.length > 0"
        (click)="openSupportEmail(this.study?.properties.support_email, this.study?.properties.study_name)"
        detail
      >
        <ion-label> Contact us by email </ion-label>
      </ion-item>
      <ion-item
        *ngIf="this.study?.properties.support_url?.length > 0"
        (click)="openSupportURL(this.study?.properties.support_url)"
        detail
      >
        <ion-label> Support website </ion-label>
      </ion-item>
    </div>
    <div
      *ngIf="this.study?.properties.ethics?.length > 0 || this.study?.properties.pls?.length > 0"
    >
      <ion-label color="dark" position="stacked" class="title-label">
        Ethics Information
      </ion-label>
      <ion-item *ngIf="this.study?.properties.ethics?.length > 0">
        <ion-label
          style="white-space: pre-wrap !important"
          [innerHTML]="this.study?.properties.ethics"
          class="ion-text-wrap"
        >
        </ion-label>
      </ion-item>
      <ion-item
        *ngIf="this.study?.properties.pls?.length > 0"
        (click)="openSupportURL(this.study?.properties.pls)"
      >
        <ion-label> Plain Language Statement </ion-label>
      </ion-item>
    </div>
    <ion-label color="dark" class="title-label">
      Withdraw
    </ion-label>
    <ion-item (click)="withdrawFromStudy()">
      <ion-label> Withdraw from study </ion-label>
    </ion-item>
  </ion-item-group>
  <br />
</ion-content>
