<ion-content scroll-y="false">

  <div class="pane">

    <div class="pane"
       *ngIf="state==='pre-state'">
    <h1>
      INSTRUCTIONS
    </h1>
    <p>
      Welcome! PVT testing is easy to understand: it's just a reflex game. Some numbers will flash onto the screen suddenly, and your job will be to respond as soon as possible by touching the screen. When someone plays it, the screen looks something like this:
    </p>
    <div class="timer-container">
      <p class="timer">
        {{timer}}
      </p>
    </div>
    <p>
      The game will last for {{numOfTrials}} trials. You can also end the game at any time by clicking the x in the upper right corner.
    </p>
    <p class="button-text"
       (click)="startPvt()">
      < start test >
    </p>
  </div>

    <div class="pane" *ngIf="state==='countdown-state'">
      <h1>
        Trial starts in {{countdown}}
      </h1>
    </div>

    <div class="pane" *ngIf="state==='game-state'" (touchstart)="reacted = true">
    <ion-icon name="close"
              size="large"
              (click)="loadResults()" *ngIf="enableExit">
    </ion-icon>
    <div class="timer-container" id="real-timer-container">
      <p class="timer">
        {{timer}}
      </p>
    </div>
  </div>

    <div class="pane" *ngIf="state==='post-state'">
      <p *ngIf="showResults" id="results">
          {{reactionTimes}}
      </p>
      <ion-label class="button-text" id="submit-button" (mousedown)="submit()">
        < {{submitText}} >
      </ion-label>
    </div>

  </div>
</ion-content>

