// CSS Variables to quickly edit the fonts and the timer box.
$timerBoxWidth: 160px;
$timerBoxHeight: 80px;
$timerFontSize: 30px;
$countdownFontSize: 100px;
$paragraphFontSize: large;

/* Used for the Countdown element */
h1 {
  font-size: $countdownFontSize;
  font-weight: bolder;
}

/* Used for larger text blocks */
p {
  font-size: $paragraphFontSize;
  padding: 2% 5%;
}

/* Used to style the timer-box */
.timer-box {
  height: $timerBoxHeight;
  width: $timerBoxWidth;
  border: solid 2px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  justify-content: center;

  /* Used for the timer label */
  .timer-label {
    font-size: $timerFontSize;
    font-weight: bold;
  }
}

/* Position the timer box and the Countdown */
.center-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
