<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="state === 'Instructions'">
      <ion-button [routerLink]="'/'" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{state}}</ion-title>
    <ion-buttons slot="end" *ngIf="enableExit && (state === 'PVT' || state === 'Countdown')">
      <ion-button (click)="exit()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="state === 'Instructions' || state === 'Results'">
  <!--Instructions-->
  <div *ngIf="state==='Instructions'">
    <p>
      Welcome! Taking the PVT is easy. It's just a reflex game. Some
      numbers will flash onto the screen suddenly, and your job will be to
      respond as soon as possible by touching the screen. During the PVT,
      the screen looks something like this
    </p>
    <div class="timer-box">
      <ion-label class="ion-align-self-center timer-label">{{instructionTimer > 0 ? instructionTimer : ''}}</ion-label>
    </div>
    <p>
      The PVT will last for {{trials}} trials. Please complete all the trials.
      <span>If you wan't to exit early, click the '<ion-icon name="close" color="primary"></ion-icon>' in the upper right corner.</span>
    </p>
    <ion-button
      class="ion-margin"
      (click)="startPVT()"
      size="large"
      expand="block"
      fill="outline"
    >start</ion-button>
  </div>

  <!--Countdown-->
  <h1 *ngIf="state==='Countdown'" class="center-abs">{{counter}}</h1>

  <!--PVT-->
  <div *ngIf="state==='PVT'" (touchstart)="reacted = true" style="width: 100%; height: 100%">
    <div class="timer-box center-abs"  data-cy="timerbox">
      <ion-label class="ion-align-self-center timer-label">{{timer >= 0 ? timer : reactedTooLate ? tooLateMessage : reactedTooEarly ? tooEarlyMessage : ''}}</ion-label>
    </div>
  </div>

  <!--Results Page-->
  <div *ngIf="state==='Results'">
    <ion-list inset="true">
      <ion-item *ngFor="let result of reactionTimes">
        <ion-label>{{result}} ms</ion-label>
      </ion-item>
    </ion-list>
    <ion-button
      routerLink="/"
      routerDirection="back"
      class="ion-margin"
      size="large"
      expand="block"
      fill="outline"
    >{{submitText}}</ion-button>
  </div>
</ion-content>
