$timerBoxWidth: 160px;
$timerBoxHeight: 80px;

$titleFontSize: 40px;
$timerFontSize: 30px;
$paragraphFontSize: 15px;
$buttonFontSize: 20px;

* {
  color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: $titleFontSize;
  font-weight: bold;
  padding-top: 30%;
}

h2 {
  font-weight: bold;
  font-size: $timerFontSize;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

p {
  font-size: $paragraphFontSize;
  padding: 2% 5%;
}

button {
  background: transparent;
  font-size: $buttonFontSize;
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  transform: translateX(-50%);
  width: 90%;
  color: black;
}

button:hover {
  color: grey;
}

.top-right-position {
  position: absolute;
  right: 5%;
  top: 10%;
}

.timer-box {
  height: $timerBoxHeight;
  width: $timerBoxWidth;
  box-shadow: inset 0 0 0 2px;
  margin: 20px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pane {
  background: white;
  height: 100%;
}
