// before editing this file, read the documentation at http://ionicframework.com/docs/theming/

/*
 ******************** Ionic CSS Variables ***********************
 */
 :root {

  /*
   * Ionic color variables
   *-------------------------------------------------------------
   */
  // primary
  --ion-color-primary: #0065BD;
  --ion-color-primary-rgb: 0,101,189;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #0059a6;
  --ion-color-primary-tint: #1a74c4;

  // secondary
  --ion-color-secondary: #98C6EA;
  --ion-color-secondary-rgb: 152,198,234;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #86aece;
  --ion-color-secondary-tint: #a2ccec;

  // tertiary
  --ion-color-tertiary: #64A0C8;
  --ion-color-tertiary-rgb: 100,160,200;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #588db0;
  --ion-color-tertiary-tint: #74aace;

  // success
  --ion-color-success: #A2AD00;
  --ion-color-success-rgb: 162,173,0;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #8f9800;
  --ion-color-success-tint: #abb51a;

  // warning
  --ion-color-warning: #E37222;
  --ion-color-warning-rgb: 227,114,34;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #c8641e;
  --ion-color-warning-tint: #e68038;

  // danger
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  // medium
  --ion-color-medium: #808080;
  --ion-color-medium-rgb: 128,128,128;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #717171;
  --ion-color-medium-tint: #8d8d8d;

  // light
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /*
   * Ionic general variables
   *-------------------------------------------------------------
   */
  // tab bar
  --ion-tab-bar-color-selected: var(--ion-color-primary);
}

/*
 ************* Ionic CSS variables, DARK theme ******************
 */
body[color-theme="dark"] {

  /*
   * Ionic general variables
   *-------------------------------------------------------------
   */
  // background
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  // text
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  /*
   * Ionic colors
   *-------------------------------------------------------------
   */
  // secondary
  --ion-color-secondary: #005293;
  --ion-color-secondary-rgb: 0,82,147;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #004881;
  --ion-color-secondary-tint: #1a639e;

  // tertiary
  --ion-color-tertiary: #003359;
  --ion-color-tertiary-rgb: 0,51,89;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #002d4e;
  --ion-color-tertiary-tint: #1a476a;

  // light
  --ion-color-light: #111111;
  --ion-color-light-rgb: 17, 17, 17;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #0f0f0f;
  --ion-color-light-tint: #292929;
}

/*
 ************* Ionic variables for iOS Dark Theme ***************
 */
.ios body[color-theme="dark"] {
  /*
   * Ionic colors
   *-------------------------------------------------------------
   */
  // color steps
  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  /*
   * Ionic general variables
   *-------------------------------------------------------------
   */
  // toolbar
  --ion-toolbar-background: #0d0d0d;

  // items
  --ion-item-background: #000000;
}

/*
 ************* Material Design Dark Theme ***********************
 */
.md body[color-theme="dark"] {
  /*
   * Ionic colors
   *-------------------------------------------------------------
   */
  // color steps
  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  /*
   * Ionic general variables
   *-------------------------------------------------------------
   */
  // background
  --ion-item-background: #1e1e1e;

  // toolbar
  --ion-toolbar-background: #1f1f1f;

  // tab bar
  --ion-tab-bar-background: #1f1f1f;
}
