// welcome text
.welcome-msg {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

// study sign in buttons
.study-sign-in-button {
  width: 80%;
  margin: 8px 0;
  --border-radius: 15px;
}

// study-image
.study-image::part(image) {
  border-radius: 10px;
}


// Name suggests the designs of the title labels
.title-label{
  font-size: 17px;
  font-weight: bold;
}

// banner-image
.banner-image {
  padding: 16px 32px;
  margin-top: 32px;
}
