// welcome text
.welcome-msg {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

// study sign in buttons
.study-sign-in-button {
  width: 80%;
  margin: 8px 0;
  --border-radius: 15px;
}

// study-image
.study-image::part(image) {
  border-radius: 10px;
}

.enrolment-img-light {
	height: 40%;
  width: 60%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: auto;
}

// banner-image
.banner-image {
  padding: 32px 64px;
}

// modules, module group titles, empty message
ion-item {
  --padding-top: 16px;
  --padding-bottom: 16px;
}
