ion-content {
	--offset-top: 1px;
}

.page-home {
	.moment {
		font-size: small;
		color: gray;
	}

	.rotate-90 {
		display: inline-block;
		transform: rotate(90deg);
	}
}

.secondary {
	color: #005293;
}

.welcome-msg {
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.enrolment-img-dark {
	height: 40%;
  width: 60%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
}

.enrolment-img-light {
	height: 40%;
  width: 60%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
}

.enrolment-text {
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	font-weight: bold;
}
ion-button {
  --border-radius: 15px;
  width: 80%;
}

ion-footer{
  padding-top: 10px;
  padding-bottom: 10px;
}

ion-label {
  margin-bottom: 3px;
  margin-top: 3px;
}

.banner-img {
  border-radius: 30px !important;
  overflow: hidden;
  width:101%;
  height:101%;
  margin-left:-5px;
  padding:20px;
}

ion-img::part(image) {
  border-radius: 20px;
}

.title-label{
  margin: 3px;
  font-size: 17px;
  font-weight: bold;
}


ion-item {
  --ion-item-background: transparent;
}
ion-list {
  --ion-item-background: transparent;
}

// this class is used for links such as the privacy policy one on the home page. Maybe this could be global since its reusable?
.link {
  color:#0065BD;

}
.link:hover {
  opacity: 50%;
}
