<ion-header>
  <ion-toolbar color="primary">
    <ion-title>

      <span class="header-title-thin">momenTUM</span>
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="toggleTheme(this)">
        <ion-icon slot="icon-only" name="sunny"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-home ion-no-padding" scroll="false">
  <ion-refresher [hidden]="!hideEnrolOptions" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content color="primary"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <!-- Displayed if user is not enrolled in a study -->
  <ion-img src="assets/imgs/tum-light.png" *ngIf="darkMode" [hidden]="hideEnrolOptions" class="enrolment-img-dark"></ion-img>
    <ion-img src="assets/imgs/tum-icon.png" *ngIf="!darkMode" [hidden]="hideEnrolOptions" class="enrolment-img-light"></ion-img>
    <div [hidden]="hideEnrolOptions" style="margin-top:5%">
      <h1 style="text-align:center;">Let's get started</h1>
      <p class="welcome-msg">
        Welcome to <span style="color:#0065BD;">momenTUM</span> - a platform to participate in research surveys directly from your smartphone.
      </p>
    </div>
  <!-- Displays if user is enrolled in a study -->
  <div [hidden]="!hideEnrolOptions" id="study-list">

    <ion-img *ngIf="study !== null" [hidden]="!hideEnrolOptions" [src]="study.properties.banner_url" style="width:101%;margin-left:-1px"></ion-img>

    <div *ngFor="let task of task_list" [hidden]="!hideEnrolOptions">
      <ion-item *ngIf="task.type !== 'header'" detail>
        <ion-icon color="medium" name="{{task.type}}" slot="start"></ion-icon>
        <ion-label [routerLink]="task.type === 'alarm-outline' ? '/pvt/' + task.task_id : '/survey/' + task.task_id" routerDirection="forward" class="ion-text-wrap">
          <span [innerHTML]="task.name"></span>
          <br>
          <span *ngIf="!task.sticky" class="moment">{{task.moment}}</span>
        </ion-label>
      </ion-item>

      <ion-item-divider *ngIf="task.type === 'header'" color="light">
        <ion-label>
          {{task.label}}
        </ion-label>
      </ion-item-divider>
    </div>

    <ion-item lines="none" class="ion-text-center" [hidden]="task_list.length">
      <ion-label *ngIf="study !== null" class="ion-text-wrap">
          {{study.properties.empty_msg}}
          <br><br>
          <ion-icon style="font-size:3em;" color="secondary" name="partly-sunny"></ion-icon>
      </ion-label>
    </ion-item>

  </div>
</ion-content>

<ion-footer [hidden]="hideEnrolOptions">

  <ion-item  class="ion-text-center" (click)="scanBarcode()" lines="none">
    <ion-label>
      <ion-button expand="fill" size="medium" color="secondary">Scan QR Code</ion-button>
    </ion-label>
  </ion-item>
  <ion-item  class="ion-text-center" (click)="enterURL()"  lines="none">
    <ion-label>
      <ion-button expand="fill" size="medium"  color="secondary">Enter URL</ion-button>
    </ion-label>
  </ion-item>
  <ion-item class="ion-text-center" (click)="enterStudyID()"  lines="none">
    <ion-label>
      <ion-button expand="fill"  size="medium"  color="secondary">Study ID</ion-button>
      </ion-label>
  </ion-item>
</ion-footer>
