/* input required error */
.showError:before { content:" *"; }
.showError {
  font-weight:bold;
  color:#F44336 !important;
}

ion-icon {
  font-size: 50px;
}
ion-list {
  background-color: transparent !important;
  border-color: transparent !important;
}

.videoPlayer {
  width: 100%;
}

ion-card,
.card-ios,
.card-md {
  padding-top: 10px;
  margin: 25px !important;
  border-radius: 10px;
  box-shadow: rgba(var(--ion-color-primary-rgb), 0.2) 0px 5px 7px -1px;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
}

/***/

.ion-radio-select-style {
  width: 100%;
  max-width: 100%;
  background: var(--ion-color-tertiary-contrast);
}

.ion-row-items {
  text-align: start !important;
  width: 100%;
}

.radio-button-style {
  --ion-item-background: var(--ion-input-color);
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border-radius: 50px !important;
  --border-radius: 50px !important;
}
.item-radio-checked {
  background: var(--ion-color-tertiary-contrast);
  color: var(--ion-color-tertiary-contrast);
}

ion-button {
  --border-radius: 15px;
}
ion-segment-button {
  border-radius: 15px !important;
  padding: 0px;
  margin-right: 10px;
  margin-left: 10px;
  --background: var(--ion-segment-button);
  --color: var(--ion-color-tertiary-contrast);
  --color-checked: var(--ion-segment-button);
  --indicator-color: transparent !important; /* this solution */
  --indicator-box-shadow: transparent !important;
}

ion-datetime {
  --background: #ffffff;
  --background-rgb: 255, 241, 242;
  color: #3070b3 !important;
  --placeholder-color: #000000 !important;
  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
}
