<ion-header>
  <ion-toolbar>
    <ion-title> {{this.current_section_name}} </ion-title>
    <ion-buttons slot="start">
      <ion-button
        style="height: 35px"
        size="medium"
        color="primary"
        (click)="back()"
      >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item slot="end" lines="none" style="--background: transparent">
      <ion-label color="primary"
        >{{this.current_section}}/{{this.num_sections}}</ion-label
      >
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--questions-->
  <ion-card
    *ngFor="let question of survey.sections[this.current_section-1].questions"
    [hidden]="!question.hideSwitch"
    color="secondary"
  >
    <!--instructions (careful: this is used in every question type, not only instructions)-->
    <ion-card-header>
      <ion-label
        [class.showError]="!question.hideError"
        [innerHTML]="question.text"
      ></ion-label>
    </ion-card-header>

    <!--input-->
    <ion-card-content>
      <!--date time-->
      <ion-datetime
        *ngIf="question.type === 'datetime'"
        locale="de-DE"
        [(ngModel)]="question.model"
        (ionChange)="setAnswer(question)"
        presentation="{{question.subtype === 'time' ? 'time' : question.subtype === 'date' ? 'date' : 'date-time'}}"
      ></ion-datetime>
      <!--slider type-->
      <ion-range
        *ngIf="question.type === 'slider'"
        [min]="question.min"
        [max]="question.max"
        [(ngModel)]="question.model"
        [pin]="true"
        [value]="question.model"
        (ionChange)="setAnswer(question)"
        style="font-size: small"
      >
        <ion-label color="dark" slot="start">{{question.hint_left}}</ion-label>
        <ion-label color="dark" slot="end">{{question.hint_right}}</ion-label>
      </ion-range>
      <!--video type-->
      <video
        *ngIf="question.type === 'media' && question.subtype === 'video'"
        controls="controls"
        controlsList="nodownload"
        [poster]="question.thumb"
        preload="metadata"
        webkit-playsinline="webkit-playsinline"
        style="width: 100%"
      >
        <source [src]="question.src" />
      </video>
      <!--audio type-->
      <audio
        *ngIf="question.type === 'media' && question.subtype === 'audio'"
        style="width: 100%"
        controls
        preload="metadata"
        controlsList="nodownload"
      >
        <source [src]="question.src" type="audio/ogg" />
        your device does not support the audio element
      </audio>
      <!--image type-->
      <ion-img
        *ngIf="question.type === 'media' && question.subtype === 'image'"
        style="width: 100%"
        [src]="question.src"
      ></ion-img>
      <!--short text input-->
      <ion-input
        *ngIf="question.type === 'text' && question.subtype !== 'long'"
        [(ngModel)]="question.model"
        (ionBlur)="setAnswer(question)"
        type="{{question.subtype === 'short' ? 'text' : 'number'}}"
        autocomplete="on"
        autocorrect="on"
        placeholder="{{question.subtype === 'short' ? 'Enter response...' : 'Enter number...'}}"
        pattern="{{question.subtype === 'short' ? undefined : '\d*'}}"
      >
      </ion-input>
      <!--long text input-->
      <ion-textarea
        *ngIf="question.type === 'text' && question.subtype === 'long'"
        [(ngModel)]="question.model"
        (ionBlur)="setAnswer(question)"
        placeholder="Enter response..."
        auto-grow="true"
        rows="3"
      ></ion-textarea>
      <!--multi input-->
      <ion-list *ngIf="question.type === 'multi'" inset="true">
        <!--no modal, radio-->
        <ion-radio-group
          *ngIf="!question.modal && question.radio"
          (ionChange)="setAnswer(question)"
          [(ngModel)]="question.model"
        >
          <ion-item
            *ngFor="let option of question.optionsChecked"
            class="radio-button-style"
            lines="none"
          >
            <ion-label style="font-size: medium"
              >{{option.text}}</ion-label
            >
            <ion-radio
              slot="start"
              color="light"
              value="{{option.text}}"
            ></ion-radio>
          </ion-item>
        </ion-radio-group>
        <!--no modal, no radio-->
        <ng-container *ngIf="!question.modal && !question.radio">
          <ion-item *ngFor="let option of question.optionsChecked" lines="none">
            <ion-label style="font-size: medium"
              >{{option.text}}</ion-label
            >
            <ion-checkbox
              color="secondary"
              (click)="changeCheckStatus(option, question)"
              [(ngModel)]="option.checked"
            ></ion-checkbox>
          </ion-item>
        </ng-container>
        <!--modal, no radio and radio-->
        <ion-select
          *ngIf="question.modal"
          style="width: 100%; max-width: 100%"
          (ionChange)="setAnswer(question)"
          [(ngModel)]="question.model"
          placeholder="Select..."
          okText="Select"
          cancelText="Dismiss"
          multiple="{{!question.radio}}"
        >
          <ion-select-option
            color="tertiary"
            *ngFor="let option of question.optionsChecked"
          >
            {{option.text}}
          </ion-select-option>
        </ion-select>
      </ion-list>
      <!--yes no-->
      <ion-segment
        *ngIf="question.type === 'yesno'"
        [(ngModel)]="question.model"
        (ionChange)="setAnswer(question)"
      >
        <ion-segment-button value="{{question.yes_text}}" layout="icon-start">
          <ion-label>{{question.yes_text}}</ion-label>
          <ion-icon name="checkmark"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="{{question.no_text}}" layout="icon-start">
          <ion-label>{{question.no_text}}</ion-label>
          <ion-icon name="close"></ion-icon>
        </ion-segment-button>
      </ion-segment>
      <!--external-->
      <iframe
        *ngIf="question.type === 'external'"
        style="width: 100%"
        frameborder="0"
        scrolling="no"
        [src]="question.src"
      ></iframe>
      <!--file-->
      <ion-segment-button
        *ngIf="question.type === 'file'"
        style="width: 100%"
        value="Open file"
        layout="icon-start"
        (click)="openExternalFile(question.src)"
      >
        <ion-label>{{question.file_name}}</ion-label>
        <ion-icon size="small" name="open-outline"></ion-icon>
      </ion-segment-button>
    </ion-card-content>
  </ion-card>

  <!--submit button-->
  <ion-button
    fill="outline"
    (click)="submit()"
    size="large"
    expand="block"
    style="margin: 15px"
  >
    {{this.submit_text}}
  </ion-button>
</ion-content>
