@import "../../../global.scss";

/* input required error */
.showError:before {
  content: " *";
}
.showError {
  font-weight: bold;
  color: #f44336 !important;
}

.videoPlayer {
  width: 100%;
}

/* For the input */
ion-input {
  background-color: var(--ion-color-secondary-tint);
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 10px !important;
}

/* For the textarea input */
ion-textarea {
  background-color: var(--ion-color-secondary-tint);
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 10px !important;
}

/* For the textarea input */
ion-select {
  background-color: var(--ion-color-secondary-tint);
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 10px !important;
}

/* For the toolbar */
.light-blue-toolbar {
  height: fit-content;
  --min-height: 37px;
  --ion-item-background: var(--ion-color-tertiary);
  --padding-start: 10px;
  --inner-padding-start: 0px;
  --border-radius: 10px !important;
  --vertical-align: middle;
  text-align: center;
  color: var(--ion-color-tertiary-contrast);
}

/* For the card design */
ion-card,
.card-ios,
.card-md {
  padding-top: 10px;
  margin: 25px !important;
  border-radius: 10px;
  box-shadow: rgba(var(--ion-color-primary-rgb), 0.2) 0px 5px 7px -1px;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
}

/* For Yes or No questions icon */
ion-icon {
  font-size: 30px;
}

/* For radio buttons to be curves and have specific colors when selected */
.ion-radio-select-style {
  width: 100%;
  max-width: 100%;
  background: var(--ion-color-tertiary-contrast);
}

.ion-row-items {
  text-align: start !important;
  width: 100%;
}

.radio-button-style {
  border-radius: 50px;
}

.item-radio-checked {
  background: var(--ion-color-tertiary-contrast);
  color: var(--ion-color-tertiary-contrast);
}

/* This is specific to multiple choice questions,
   they need transparent background for them to adapt
   our design colors
*/
ion-list {
  background-color: transparent !important;
  border-color: transparent !important;
}

/* For file button alignment */
.center {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
}

/* For submit button */
ion-button {
  --border-radius: 15px;
}
ion-segment {
  --background: transparent !important;
}

/* For Yes or No questions button designs */
ion-segment-button {
  --indicator-box-shadow: transparent !important;
  border-radius: 15px !important;
  padding: 0px;
  margin-right: 10px;
  margin-left: 10px;
  --background: var(--ion-color-secondary-tint);
  --color: var(--ion-color-tertiary-contrast);
  --background-checked: linear-gradient(
    to right,
    var(--ion-color-tertiary-shade),
    var(--ion-color-tertiary-shade)
  ) !important;
  --color-checked: var(--ion-color-secondary-tint);
  --indicator-color: transparent !important;
  --indicator-color-checked: transparent !important;
}

/* For datetime */
ion-datetime {
  --background: var(--ion-color-light-contrast);
  --background-rgb: var(--ion-color-light-rgb);
  --color: var(--ion-color-primary);
  border-radius: 15px;
  box-shadow: rgba(var(--ion-color-primary), 0.3) 0px 5px 7px -1px;
}

/* For the range element */
ion-range {
  font-size: small;
}
