// CSS selection done by input type.

/* yes no input */
ion-segment {
  --background: var(--ion-color-light);
  --background-rgb: var(--ion-color-light-rgb);
}
ion-segment-button {
  --indicator-color: var(--ion-color-primary);
  --color: var(--ion-color-medium);
  --color-checked: var(--ion-color-light);
}

/* text input */
ion-input,
ion-textarea
{
  --background: var(--ion-color-light);
  --background-rgb: var(--ion-color-light-rgb);
  --padding-start: 15px;
  --color: var(--ion-color-dark);
  --placeholder-color: var(--ion-color-medium);
  border-radius: 15px;
}

/* multi input */
ion-select {
  --placeholder-color: var(--ion-color-medium);
  --placeholder-opacity: 1;
  width: 100%;
  justify-content: center;
}
ion-select::part(text) {
  color: var(--ion-color-dark);
}
ion-select::part(icon) {
  color: var(--ion-color-medium);
}

/* input required error */
.showError:before { content:" *"; }
.showError {
  font-weight:bold;
  color:#F44336 !important;
}

/* the date time component */
ion-datetime {
  --background: var(--ion-color-light);
  --background-rgb: var(--ion-color-light-rgb);
  --color: var(--ion-color-primary);
  border-radius: 15px;
}
